{% extends "base.html" %}
{% block content %}
{% block body %}
  <!-- Page Content -->
  {% autoescape on %}
  
  <div>
    <div class="container">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <h3>Índice Seo Reputacional</h3>
          </div>
          <div class="col-sm-3"></div>
        </div>
        {% for item in datos %}
            <div class="items-search">
              <div class="row">
                <div class="col-sm-2">
                  {{item.proyecto}}
                </div>
                <div class="col-sm-2">
                  {{item.busqueda}}
                </div>
                <div class="col-sm-2">
                  {{item.pais}}
                </div>
                <div class="col-sm-2">
                  {{item.url}}
                </div>
                <div class="col-sm-2">
                  {{item.evaluacion}}
                </div>
                <div class="col-sm-2">
                  {{item.evaluacion}}
                </div>
              </div>
            </div>
          {% endfor %}
    </div>
  

{% endautoescape %}
  
{% endblock %}  
{% endblock %}  

