{% extends "base.html" %}
{% block content %}
{% block body %}
  <!-- Page Content -->
  {% autoescape on %}
  <div>
    <div class="container">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-5">
            <h3>Índice Seo Reputacional</h3>
          </div>
          <div class="col-sm-3"></div>
        </div>
        <table class="table table-bordered">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Proyecto</th>
              <th scope="col">Búsqueda</th>
              <th scope="col">Pais</th>
              <th scope="col">Fecha creación</th>
              <th scope="col-2">Acciones</th>
              <th scope="col-2"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in datos %}
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.proyecto}}</td>
              <td>{{item.busqueda}}</td>
              <td>{{item.pais}}</td>
              <td>{{item.when}}</td>
              <td><a href="historicos/{{item.id}}/">Ver Históricos</a></td>
              <td><a href="re-evaluar/{{item.id}}/">Re evaluar</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endautoescape %}
{% endblock %}  
{% endblock %}  

