{% extends "base.html" %}
{% block content %}
{% block body %}
  <!-- Page Content -->
  {% autoescape on %}
  <div>
    <div class="container">
        <div class="row">
          <div class="col-sm-4"></div>
          <div class="col-sm-5">
            <h3>Índice Seo Reputacional</h3>
          </div>
          <div class="col-sm-3"></div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <a class="nav-item nav-link active" href="/nueva-busqueda/" style="font-size: 1.2rem;">
              <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
              </svg> Crear nueva búsqueda</a>
          </div>
        </div>
        <table class="table table-bordered">
          <thead class="table-head">
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Proyecto</th>
              <th scope="col">Búsqueda</th>
              <th scope="col">Pais</th>
              <th scope="col">Fecha creación</th>
              <th scope="col-2">Acciones</th>
              <th scope="col-2"></th>
            </tr>
          </thead>
          <tbody>
            {% for item in datos %}
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.proyecto}}</td>
              <td>{{item.busqueda}}</td>
              <td>{{item.pais}}</td>
              <td>{{item.when}}</td>
              <td><a href="historicos/{{item.id}}/">Ver Históricos</a></td>
              <td><a href="re-evaluar/{{item.id}}/">Re evaluar</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endautoescape %}
{% endblock %}  
{% endblock %}  

