{% extends "base.html" %}
{% block content %}
{% block body %}
  <!-- Page Content -->
  {% autoescape on %}
  <div>
    <div id="main" class="site-main">
      <div class="container" style="margin-top:0">
        <div class="row">
          <div class="col-sm-3">&nbsp;</div>
          <div class="col-sm-6 title-busqueda">
            <h3>Configuración nueva búsqueda</h3>
          </div>
          <div class="col-sm-3">&nbsp;</div>
        </div>
        <div class="row">
          <div class="col-sm-3">&nbsp;</div>
          <div class="formulario col-sm-6">
            <form action="nueva-busqueda/" method="post" id="remember" enctype="multipart/form-data">
              <div class="form-group">
                <label for="exampleInputEmail1">Proyecto</label>
                <input type="text" name="proyecto" maxlength="100" required="" id="id_proyecto" class="form-control">
                <!--<input type="text" class="form-control" id="proyecto" aria-describedby="emailHelp" name="proyecto"-->
                <!--small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small-->
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Búsqueda</label>
                <input type="text" name="busqueda" maxlength="100" required="" class="form-control" id="id_busqueda">
                <!--input type="text" class="form-control" id="busqueda" name="busqueda"-->
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Tipo de Búsqueda</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tipobusqueda" id="exampleRadios1" value="busqueda" checked>
                  <label class="form-check-label" for="exampleRadios1">
                    Búsqueda
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tipobusqueda" id="exampleRadios2" value="imagen">
                  <label class="form-check-label" for="exampleRadios2">
                    Imagen
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tipobusqueda" id="exampleRadios2" value="video">
                  <label class="form-check-label" for="exampleRadios3">
                    Video
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Pais</label>
                {% if lista_paises %}
                  <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="paises">
                    <option selected value="">Choose...</option>
                    {% for key, value in lista_paises.items %}  
                      <option value="{{value}}">{{key}}</option>
                    {% endfor %}
                  </select>
                {% endif %}
              </div>
              
              <button type="submit" class="btn btn-primary">Búsqueda</button>
              
            </form>
        </div>
        <div class="col-sm-3">&nbsp;</div>
      </div>
      <hr>
        {% if results %}
        <div class="row resultado-busqueda">
          <div class="col-sm-10"><h3>Contenido</h3></div>
          <div class="col-sm-2"><h3>Evalución</h3></div>
        </div>
        
          {% for item in results %}
            <div class="items-search">
              <div class="row">
                <div class="col-sm-10">
                  {{item.url}}
                </div>
                <div class="col-sm-2">&nbsp;</div>
              </div>
              <div class="row">
                <div class="col-sm-10">
                  <h5 class="link-url"><a href="{{item.url}}">{{item.title}}</a></h5>
                </div>
                <div class="col-sm-2">&nbsp;</div>
              </div>
              <div class="row">
                <div class="col-sm-10">
                  <span>{{item.description}}</span>
                </div>
                <div class="col-sm-2"><button type="button" class="btn btn-warning">Sin evaluar</button></div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
        <div class="row resultado-busqueda">
          <div class="col-sm-10">&nbsp;</div>
          <div class="col-sm-2">&nbsp;</div>
        </div>
      
    </div>
    
{% endautoescape %}
  
{% endblock %}  
{% endblock %}  

