{% extends "base.html" %}
{% block content %}
{% block body %}
  <!-- Page Content -->
  {% autoescape on %}
  <div>
    <div id="main" class="site-main">
      <div class="container" style="margin-top:0">
        <div class="row">
          <div class="col-sm-3">&nbsp;</div>
          <div class="col-sm-6 title-busqueda">
            <h3>Configurar nueva búsqueda</h3>
          </div>
          <div class="col-sm-3">&nbsp;</div>
        </div>
        <div class="row">
          <div class="col-sm-3">&nbsp;</div>
          <div class="formulario col-sm-6">
            <form action="nueva-busqueda/" method="post" id="remember" enctype="multipart/form-data">
              <div class="form-group">
                <!--label for="exampleInputEmail1">Proyecto</label-->
                <input type="hidden" name="pais" maxlength="100" required="" id="id_pais_hidden" class="form-control" value="{{pais}}" placeholder="Proyecto">
                {% if proyecto %}
                  <input type="text" name="proyecto" maxlength="100" required="" id="id_proyecto" class="form-control" value="{{proyecto}}" placeholder="Proyecto">
                {% else %}
                  <input type="text" name="proyecto" maxlength="100" required="" id="id_proyecto" class="form-control" placeholder="Proyecto">
                {% endif %}
              </div>
              <div class="form-group">
                <!--label for="exampleInputPassword1">Búsqueda</label-->
                {% if busqueda %}
                  <input type="text" name="busqueda" maxlength="100" required="" class="form-control" id="id_busqueda" value="{{busqueda}}" placeholder="Búsqueda"> 
                {% else %}
                  <input type="text" name="busqueda" maxlength="100" required="" class="form-control" id="id_busqueda" placeholder="Búsqueda">
                {% endif %}
                <!--input type="text" class="form-control" id="busqueda" name="busqueda"-->
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Tipo de Búsqueda</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tipobusqueda" id="exampleRadios1" value="busqueda" checked placeholder="Tipo de Búsqueda">
                  <label class="form-check-label" for="exampleRadios1">
                    Búsqueda
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tipobusqueda" id="exampleRadios2" value="imagen">
                  <label class="form-check-label" for="exampleRadios2">
                    Imagen
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="tipobusqueda" id="exampleRadios2" value="video">
                  <label class="form-check-label" for="exampleRadios3">
                    Video
                  </label>
                </div>
              </div>
              <div class="form-group">
                <!--label for="exampleInputPassword1">Pais</label-->
                {% if lista_paises %}
                  <select class="custom-select mr-sm-2" id="id_paises" name="paises" placeholder="Pais">
                    <option selected value="">Pais</option>
                    {% for key, value in lista_paises.items %}  
                      <option value="{{value}}">{{key}}</option>
                    {% endfor %}
                  </select>
                {% endif %}
              </div>
              <button type="submit" class="btn  btn-eye guardar-evaluciones">Búsqueda</button>
            </form>
        </div>
        <div class="col-sm-3">&nbsp;</div>
      </div>
    
        {% if results %}
          <input id="pais_result" type="hidden" value="{{pais_post}}">
          
          <table class="table table-bordered">
            <thead class="table-head">
              <tr>
                <th colspan="7">Contenido</th>
                <th colspan="2">Evalución</th>
              </tr>
            </thead>
            <tbody>
              {% for item in results %}
              <tr>
                <td colspan="7">
                  <div class="col-sm-10" id="div-url-{{ forloop.counter0 }}" data="{{item.url}}">
                    <span style="color:#e07b1e">{{ forloop.counter }}</span> -
                    <a href="{{item.url}}" target="_blank">{{item.url}}</a>
                  </div>
                  <p>
                    <div class="col-sm-10" id="div-description-{{ forloop.counter0 }}" data="{{item.texto}}">
                      <span>{{item.texto}}</span>
                    </div>
                  </p>
                </td>
                <td colspan="2">
                  <div class="form-check form-check-inline">
                    <input class="form-check-input radiob-black" type="radio" name="{{ forloop.counter0 }}" id="inlineRadio1{{ forloop.counter0 }}" value="sinevaluar" checked>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input radiob-green" type="radio" name="{{ forloop.counter0 }}" id="inlineRadio2{{ forloop.counter0 }}" value="favorable">
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input radiob-gray" type="radio" name="{{ forloop.counter0 }}" id="inlineRadio3{{ forloop.counter0 }}" value="neutral">
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input radiob-red" type="radio" name="{{ forloop.counter0 }}" id="inlineRadio4{{ forloop.counter0 }}" value="desfavorable">
                  </div>
                </td>
              </tr>
              <input type="hidden" id="busquedaurl{{ forloop.counter0 }}" value="{{ item.url }}">
              {% endfor %}
            </tbody>
          </table>
        
        <div class="row resultado-busqueda">
          <div class="col-sm-12 text-center">
            <button type="button" class="btn  guardar-evaluciones" id="guardar-evaluaciones">
              Guardar Evaluaciones
            </button>
          </div>
        </div>
        {% endif %}
        {% for item in datos_busqueda %}
          <input type="hidden" id="datosurl{{ forloop.counter0 }}" value="{{ item.url }}">
          <input type="hidden" id="datosevaluacion{{ forloop.counter0 }}" value="{{ item.evaluacion }}">
        {% endfor %}
        <div class="row resultado-busqueda">
          <div class="col-sm-10">&nbsp;</div>
          <div class="col-sm-2">&nbsp;</div>
        </div>
    </div>
    
{% endautoescape %}
  <script>
  // $('#id_paises option[value=pa]').attr('selected','selected');
  //pais_result
  $(function() {
    console.log('load');
    if($('#pais_result').val()){
      $('#id_paises option[value='+$('#pais_result').val()+']').attr('selected','selected');
    }
    var datos = new Array();
    for (i = 0; i < 21; i++) {
        datos[$('#datosurl'+i).val()] = $('#datosevaluacion'+i).val();
    }
    console.log('datos evaluacion');
    console.log(datos);
    for (i = 0; i < 21; i++) {
        prop = $('#busquedaurl'+i).val();
        if (datos.hasOwnProperty(prop)){
            console.log(datos[prop]);
            if (datos[prop] == 'sinevaluar'){
                $("#inlineRadio1"+i).prop("checked", true);
            }
            if (datos[prop] == 'favorable'){
                $("#inlineRadio2"+i).prop("checked", true);
            }
            if (datos[prop] == 'neutral'){
                $("#inlineRadio3"+i).prop("checked", true);
            }
            if (datos[prop] == 'desfavorable'){
                $("#inlineRadio4"+i).prop("checked", true);
            }

        }
        
    }
  });
  function openModal(id){
    var modal = document.getElementById(id);
    modal.style.display = "block";
  }
  function closeModal(id){
    var modal = document.getElementById(id);
    modal.style.display = "none";
  }
  function saveEvalucaion() {
    var radios = document.getElementsByTagName('input');
    var lista = [];
    for (i = 0; i < radios.length; i++) {
        if (radios[i].type == 'radio' && radios[i].checked) {
            //console.log(radios[i].name);
            //console.log($("#div-url-"+radios[i].name).attr("data"));
            if (radios[i].name !== "tipobusqueda"){
              var datos = {};
              datos["url"] = $("#div-url-"+radios[i].name).attr("data");
              datos["titulo"] = $("#div-title-"+radios[i].name).attr("data");
              datos["descripcion"] = $("#div-description-"+radios[i].name).attr("data");
              datos["evalucion"] = radios[i].value;
              lista.push(datos);
            }
        }
    }
    
    var datosBusqueda = {};
    datosBusqueda["proyecto"] = $("#id_proyecto").val();
    datosBusqueda["busqueda"] = $("#id_busqueda").val();
    datosBusqueda["pais"] = $("#id_paises").val();
    datosBusqueda["tipobusqueda"] = $('input[name="tipobusqueda"]:checked').val();

    console.log("lista");
    console.log(lista);
    console.log(datosBusqueda);
    $('#guardar-evaluaciones').html("Guardando ...");
    
    $.ajax({
        type: "POST",
        url: "guardar-busqueda/",
        data: JSON.stringify({ "busqueda": JSON.stringify(datosBusqueda), "datos" : JSON.stringify(lista) }),
        success: function(data) { 
          var data = JSON.parse(data);
          console.log(data["idstring"]);
          window.location.replace("/ver-historicos/"+data["idstring"])+"/";
        },
        dataType: "text",
        contentType : "text/plain"
    });
    
    //div-url- get atribute data and the radio buttons checket
    //$("#div-url-0").attr("data");
  }
  $("#guardar-evaluaciones").click(function() {
    saveEvalucaion();
    $(this).prop("disabled", false);
  });
  //saveEvalucaion();
  </script>
{% endblock %}  
{% endblock %}  

