{% extends "base.html" %}
{% block content %}
{% block body %}
  <!-- Page Content -->
  {% autoescape on %}
  <div>
    <div class="container">
        <div class="row">
          <div class="col-sm-3"></div>
          <div class="col-sm-6">
            <h3>Históricos</h3>
          </div>
          <div class="col-sm-3"></div>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Fecha modificación</th>
              <th scope="col">Url</th>
              <th scope="col">Evaluación</th>
              <th scope="col">Puntaje</th>
            </tr>
          </thead>
          <tbody>
            {% for item in datos %}
            <tr>
              <td>{{item.id}}</td>
              <td>{{item.fecha_modificacion}}</td>
              <td>{{item.url}}</td>
              <td>{{item.evaluacion}}</td>
              <td>{{item.puntaje}}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endautoescape %}
{% endblock %}  
{% endblock %}  

