{% extends "base.html" %}
{% block content %}
{% block body %}
  <!-- Page Content -->
  {% autoescape on %}
  <div>
    <div class="container">
        <div class="row">
          <div class="col-sm-5">
            {% for item in datos %}
            {% if forloop.counter0 == 0 %}
                <a href="/historicos/{{item.busqueda.id}}/">
                  /historicos/{{item.busqueda.id}}/
                </a>
            {% endif %}
            {% endfor %}
          </div>
          <div class="col-sm-5">
            <h3>Histórico</h3>
          </div>
          <div class="col-sm-2 score">
            <div class="row">
              <div class="col-sm-12">Score</div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <h2 id="score_value">0</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-1"></div>
          <div class="col-sm-10">
            <table class="table table-bordered">
              
              <tbody>
                {% for item in datos %}
                {% if forloop.counter0 == 0 %}
                <tr>
                  <td>{{item.fecha_modificacion}}</td>
                </tr>
                {% endif %}
                <tr>
                  <td>
                    <p>{{item.posicion}} - <a href="{{item.url}}">{{item.url}}</a></p>
                    <p><h5>{{item.titulo}}</a></h5></p>
                    <p>{{item.descripcion}}</p>
                  </td>
                  <td>
                    <div class="form-check form-check-inline">
                      {% if item.evaluacion == "sinevaluar" %}
                        <input class="form-check-input radiob-black" type="radio" name="{{ forloop.counter0 }}" id="inlineRadio1{{ forloop.counter0 }}" value="sinevaluar" checked>
                      {% else %}
                        <input class="form-check-input radiob-black" type="radio" name="{{ forloop.counter0 }}" id="inlineRadio1{{ forloop.counter0 }}" value="sinevaluar">
                      {% endif %}
                    </div>
                    <div class="form-check form-check-inline">
                      {% if item.evaluacion == "favorable" %}
                        <input class="form-check-input radiob-green" type="radio" name="{{ forloop.counter0 }}" id="inlineRadio2{{ forloop.counter0 }}" value="favorable" checked>
                      {% else %}
                        <input class="form-check-input radiob-green" type="radio" name="{{ forloop.counter0 }}" id="inlineRadio2{{ forloop.counter0 }}" value="favorable">
                      {% endif %}
                    </div>
                    <div class="form-check form-check-inline">
                      {% if item.evaluacion == "neutral" %}
                        <input class="form-check-input radiob-gray" type="radio" name="{{ forloop.counter0 }}" id="inlineRadio3{{ forloop.counter0 }}" value="neutral" checked>
                      {% else %}
                        <input class="form-check-input radiob-gray" type="radio" name="{{ forloop.counter0 }}" id="inlineRadio3{{ forloop.counter0 }}" value="neutral">
                      {% endif %}
                    </div>
                    <div class="form-check form-check-inline">
                      {% if item.evaluacion == "desfavorable" %}
                        <input class="form-check-input radiob-red" type="radio" name="{{ forloop.counter0 }}" id="inlineRadio4{{ forloop.counter0 }}" value="desfavorable" checked>
                      {% else %}
                        <input class="form-check-input radiob-red" type="radio" name="{{ forloop.counter0 }}" id="inlineRadio4{{ forloop.counter0 }}" value="desfavorable">
                      {% endif %}
                    </div>
                  </td>
                  {% if item.evaluacion != "desfavorable" %}
                    <td>{% widthratio item.puntaje 1 100 %}</td>
                  {% else %}
                    <td>0</td>
                  {% endif %}
                  
                </tr>
                  <input type="hidden" id="id_evaluacion{{ forloop.counter0 }}" value="{{item.evaluacion}}">
                  <input type="hidden" id="id_puntaje{{ forloop.counter0 }}" value="{{item.puntaje}}">
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-sm-1"></div>
        </div>
    </div>
{% endautoescape %}
<script>
  
  $(function() {
    var suma = 0;
    for (i = 0; i < 21; i++) {
      if ($("#id_puntaje"+i).val() !== undefined){
        if ($("#id_evaluacion"+i).val() == "favorable" || $("#id_evaluacion"+i).val() == "neutral"){
          if (i == 0){
            suma = parseFloat($("#id_puntaje"+i).val());
          } else {
            suma += parseFloat($("#id_puntaje"+i).val());
          }
        }
      }
    }
    var sumatotal = (suma*100).toFixed(1);
    $("#score_value").html(sumatotal);
    console.log(sumatotal);
  });

</script>
{% endblock %}  
{% endblock %}  

